html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 202.534rem;
  height: 188.534rem;
  overflow: hidden;
}

.group_1 {
  width: 37.094rem;
  height: 38.774rem;
  margin: 81.76rem 0 0 75.76rem;
}

.block_1 {
  height: 38.774rem;
  background: url(./img/92ac3e9c1412b332e7e7f1006e9e70f4.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 28.854rem;
}

.image-wrapper_1 {
  width: 8.294rem;
  height: 1.787rem;
  margin: 3.254rem 0 0 15.974rem;
}

.image_1 {
  width: 0.934rem;
  height: 1.547rem;
  margin-top: 0.214rem;
}

.image_2 {
  width: 1.254rem;
  height: 1.6rem;
  margin: 0.187rem 0 0 1.36rem;
}

.image_3 {
  width: 1.28rem;
  height: 1.68rem;
  margin-left: 3.467rem;
}

.image-wrapper_2 {
  width: 14.027rem;
  height: 2.854rem;
  margin: 1.84rem 0 0 7.894rem;
}

.image_4 {
  width: 1.494rem;
  height: 2.48rem;
  margin-top: 0.267rem;
}

.image_5 {
  width: 1.974rem;
  height: 2.56rem;
  margin: 0.24rem 0 0 2.64rem;
}

.image_6 {
  width: 1.494rem;
  height: 2.827rem;
  margin-left: 2.16rem;
}

.image_7 {
  width: 2.027rem;
  height: 2.667rem;
  margin: 0.187rem 0 0 2.24rem;
}

.image-wrapper_3 {
  width: 13.547rem;
  height: 1.574rem;
  margin: 0.614rem 0 0 8.107rem;
}

.image_8 {
  width: 1.44rem;
  height: 1.067rem;
  margin-top: 0.267rem;
}

.image_9 {
  width: 1.307rem;
  height: 1.467rem;
  margin: 0.054rem 0 0 2.667rem;
}

.image_10 {
  width: 1.254rem;
  height: 1.574rem;
  margin-left: 2.774rem;
}

.image_11 {
  width: 1.387rem;
  height: 1.387rem;
  margin: 0.027rem 0 0 2.72rem;
}

.group_2 {
  width: 21.467rem;
  height: 21.494rem;
  margin: 1.6rem 0 0 3.574rem;
}

.image-wrapper_4 {
  height: 21.494rem;
  background: url(./img/60f26a4956bb0fc7875f610575f434bf.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 21.467rem;
}

.image_12 {
  width: 18.88rem;
  height: 19.92rem;
  margin: 0.934rem 0 0 1.36rem;
}

.image-wrapper_5 {
  width: 0.64rem;
  height: 0.48rem;
  margin: 0.96rem 0 2.32rem 2.267rem;
}

.image_13 {
  width: 0.64rem;
  height: 0.48rem;
}

.image_14 {
  width: 5.227rem;
  height: 4.854rem;
  margin-top: 5.76rem;
}

.image_15 {
  position: absolute;
  left: 79.147rem;
  top: 85.734rem;
  width: 25.84rem;
  height: 0.72rem;
}

.image_16 {
  position: absolute;
  left: 96.347rem;
  top: 84.907rem;
  width: 1.12rem;
  height: 2.08rem;
}
